body{
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	background: #e7ece6;
}

#header{
	position: fixed;
	width: 100%;
	height: 50px;
	border-bottom: solid 2px #c3c5c2;
	background: #d7dcd6;
	z-index: 500;
}

#invisible{
	position: absolute;
	z-index: 550;
	width: 100%;
	height: 100%;
}

#headLogo{
	float: left;
}

#headContent{
	width: 950px;
	margin-left: auto;
	margin-right: auto;
}

#topSettings{
	float: right;
}

#topSettings ul{
	text-decoration: none;
	display: block;
}

#topSettings ul li{
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Libre Baskerville', serif;
	font-size: 15px;
}

#topMenu{
	float:right;
	display: none;
}

#banner{
	padding-top: 55px;
	position: static;
	width: 920px;
	margin-left: auto;
	margin-right: auto;
}

#banner img{
	width: 100%;
}

#menuBg{	
	font-family: 'Libre Baskerville', serif;
	font-weight: bold;
	border-top: solid 2px #c3c5c2;
	border-bottom: solid 2px #c3c5c2;
	background: #d7dcd6;
	height: 50px;
	width: 100%;
}

#menu{
	margin-left: auto;
	margin-right: auto;
	width: 920px;
}

#menuHolder{
	display: none;
	padding: 10px;
	cursor: pointer;
}

#menu ul{
	text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;
}

#menu ul li{
	display: inline;
	padding: 0px 15px 0px 15px;
}

#content{
	background: #ffffff;
	width: 920px;
	margin-left: auto;
	margin-right: auto;
}

#horiMenu{
	width: 250px;
}

#horiMenu ul{
	text-decoration: none;
	padding-left: 0px;
	padding-right: 20px;
	margin-top: 0px;
}

#horiMenu ul li{
	display: block;
	padding: 15px 20px 15px 20px;
	font-family: 'Libre Baskerville', serif;	
	border-bottom: dotted 1px #c3c5c2;
	/*border-left: solid 1px #c3c5c2;*/
	border-right: solid 1px #c3c5c2;
	font-weight: bold;
}

.horiMenuCont{
	padding: 10px;
	border-bottom: dotted 1px;
}

.horiMenuCont ul{
	padding-left: 0px;
}

.fixed{
	position: fixed;
	top: 50px;
}

.horiMenuCont ul li{
	font-family: 'Cardo', serif;
	font-stretch: ultra-expanded;
	display: block;
	background-image: url("../images/listCircle.png");
	background-repeat: no-repeat;
	padding: 5px 0px 5px 60px;
}

h1{
	font-family: 'Libre Baskerville', serif;
	font-weight: bold;
	font-size: 18px;
}