body{
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	background: #e7ece6;
}

#header{
	position: fixed;
	width: 100%;
	height: 50px;
	border-bottom: solid 2px #c3c5c2;
	background: #d7dcd6;
	z-index: 500;
}

#invisible{
	position: absolute;
	z-index: 550;
	width: 100%;
	height: 100%;
}

#headLogo{
	float: left;
}

#headContent{
	width: 950px;
	margin-left: auto;
	margin-right: auto;
}

#topSettings{
	float: right;
}

#topSettings ul{
	text-decoration: none;
	display: block;
}

#topSettings ul li{
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Libre Baskerville', serif;
	font-size: 15px;
}

#topMenu{
	float:right;
	display: none;
}

#content{
	
}

#banner{
	padding-top: 55px;
	position: static;
	width: 950px;
	margin-left: auto;
	margin-right: auto;
}

#banner img{
	width: 100%;
}

#menuBg{	
	font-family: 'Libre Baskerville', serif;
	border-top: solid 2px #c3c5c2;
	border-bottom: solid 2px #c3c5c2;
	background: #d7dcd6;
	height: 50px;
	width: 100%;
}

#menu{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
}